PROJECT_NAME="Kavach Animal Disease Detection Microservice"

SECRET_KEY="mydevsecret123"
ALGORITHM="HS256"

REDIS_URL="redis://localhost:6379/0"

GROQ_API_KEY="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"